<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
    content="widcssth=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
    <title>Small Store</title>
    <head>
    <body>
        <form action="/logicalogin" method="post" class="formulario">
            <h1>Login</h1>
            <div class="contenedor">
                <div class="input-contenedor">
                    <i class="fas fa-envelope icon"></i>
                    <input name="email" type="text" placeholder="Correo Electronico">
                </div>
                <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                    <input name="password" type="password" placeholder="Contraseña">
                </div>
                <input type="submit" value="Login" class="button">
                <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                <p>¿No tienes una cuenta? <a class="link" href="/index">Registrate </a></p>
            </div>
        </form>
    </body>

</html>
