<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_principal.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>SMALL STORE</title>
</head>

<body>
    <header>
        <section class="contain-container">
            <h1>Tienda Ropa</h1>
            <h5>NUESTRO PROPOSITO ES HACER SONREIR NUESTROS CLIENTES</h5>
            <p>ESTAMOS COMPROMETIDOS CON EL TIEMPO DE NUESTROS USUARIOS </p>
            <section class="carrusel">
                <article>
                    <div>
                        <a href="/index">ADMIN</a> 
                        <i class='bx bx-right-arrow-alt'></i>
                    </div>
                </article>
                <article class="nth-two">
                    <div>
                        <a href="/users">TURNO AQUI</a> 
                        <i class='bx bx-right-arrow-alt'></i>
                    </div>
                </article>
                <article class="nth-three">
                    <div>
                        <a href="">ABOUT US</a> 
                        <i class='bx bx-right-arrow-alt'></i>
                    </div>
                </article>
            </section>
        </section>
        <div class="img-container">
            <img class="main-img" src="img/2.jpg" alt="">
        </div>
    </header>

</body>

</html>