<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">   
    <link rel="stylesheet" href="css/menu_style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
     <title>Registro Small Store</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/img/small stote.png" alt="">
            </div>
            <div class="icono" id="icono">
                <span>&#9776;</span>
            </div>
            <div class="enlaces uno" id="enlaces">
                <a href="/login" class="active">Iniciar Sessión</a>
                <a href="#">Acerca de</a>
                <a href="#">Contacto</a>
            </div>
        </nav>
        
    </header>
    <main>
        <div class="textos">
            <h1>¡Registro exitoso!</h1>
        </div>
    </main>
   
</body>

</html>