<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_turnos.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- <script src="js/turnos.js"></script> -->
    <title>Turnos Small Store</title>
</head>
<body>
    <header>

    </header>
    <main>
       <div class="circulo">
           <p> <%=  turno %> </p>
           <!-- <p id="codigo2"></p> -->
      </div>
              
      
      <div class="turno">
         <p>Tu turno es el</p>
         <p id="button"></p>
      </div> 
      <!-- <div class="barra">
          <p>Tiempo restante para confirmar</p>
         <p class="text-center" id="count-down-timer"></p>
      </div> -->

    </main>
</body>
</html>
